<% content_for :meta_title, t('.title') %>
<% content_for :breadcrumbs do %>
  <%= link_to(t('my.index.index.nav_text'), my_path) %>
  <span><%= t('.nav_text') %></span>
<% end %>

<article>
  <div class="content-wrapper">
    <h1><%= t('.heading') %></h1>

    <nav>
      <%=
        link_to(
          t('my.profiles.edit.nav_text'),
          edit_my_profile_path,
          class: 'button button-ghost'
        )
      %>
    </nav>

    <%= render partial: 'users/profile', locals: { user: current_user } %>

    <% prefix = 'my/profiles/components/' %>
    <% BiovisionComponent.list_for_user.each do |component| %>
      <% handler = Biovision::Components::BaseComponent.handler(component, current_user) %>
      <% if lookup_context.exists?("#{prefix}_#{component.slug}") %>
        <%=
          render(
            partial: "#{prefix}#{component.slug}",
            locals: { handler: handler }
          )
        %>
      <% end %>
    <% end %>
  </div>
</article>
