<% content_for :meta_title, t('.title', name: @entity.name) %>
<% content_for :breadcrumbs do %>
  <%= admin_biovision_component_link(component_handler.component) %>
  <%= link_to(t('admin.navigation_groups.nav_item.text'), admin_navigation_groups_path) %>
  <span><%= @entity.name %></span>
<% end %>

<article>
  <h1><%= @entity.class.model_name.human %> <q><%= @entity.name %></q></h1>

  <% if component_handler.permit?('edit', @entity) %>
    <nav class="entity-actions">
      <%= edit_icon(@entity) %>
    </nav>
  <% end %>

  <dl class="fields">
    <%= render partial: 'shared/entity/text_field', locals: { entity: @entity, field: :name } %>
    <%= render partial: 'shared/entity/slug', locals: { entity: @entity } %>
    <%= render partial: 'shared/entity/timestamps', locals: { entity: @entity } %>
  </dl>
</article>
