<% content_for :meta_title, t('.title', slug: @entity.long_slug) %>
<% content_for :breadcrumbs do %>
  <%= admin_biovision_component_link(component_handler.component) %>
  <%= link_to(t('admin.dynamic_pages.nav_item.text'), admin_dynamic_pages_path) %>
  <span><%= @entity.slug %></span>
<% end %>

<article>
  <h1><%= @entity.class.model_name.human %> <q><%= @entity.long_slug %></q></h1>

  <nav class="entity-actions">
    <%= edit_icon(@entity) %>
  </nav>

  <dl class="fields">
    <%= render partial: 'shared/entity/slug', locals: { entity: @entity } %>
    <%= render partial: 'shared/entity/language', locals: { entity: @entity } %>
    <%= render partial: 'shared/entity/text_fields', locals: { entity: @entity, fields: %w[name url] } %>
    <%= render partial: 'shared/entity/simple_image', locals: { entity: @entity } %>
    <%= render partial: 'shared/entity/raw_text_field', locals: { entity: @entity, field: :body } %>
    <%= render partial: 'shared/entity/uuid', locals: { entity: @entity } %>
    <%= render partial: 'shared/entity/timestamps', locals: { entity: @entity } %>
  </dl>

  <%= render(partial: 'shared/admin/toggle', locals: { entity: @entity }) %>
</article>
