<%
  collection = Language.active.ordered_by_priority
  entity = f.object
  model_name = entity.class.to_s.underscore
%>
<% if collection.any? %>
  <div>
    <dt><%= f.label :language_id %></dt>
    <dd>
      <ul>
        <li>
          <%=
            radio_button_tag(
                "#{model_name}[language_id]",
                '',
                entity.language.nil?,
                id: "#{model_name}_language_0"
            )
          %>
          <%= label_tag("#{model_name}_language_0", t(:not_set)) %>
        </li>
        <% collection.each do |language| %>
          <li>
            <% element_id = "#{model_name}_language_#{language.id}" %>
            <%=
              radio_button_tag(
                  "#{model_name}[language_id]",
                  language.id,
                  entity.language == language,
                  id: element_id
              )
            %>
            <%= label_tag(element_id, language.name) %>
          </li>
        <% end %>
      </ul>
    </dd>
  </div>
<% end %>
