<%
  collection = Language.active.ordered_by_priority
  entity = f.object
  model_name = entity.class.to_s.underscore
%>
<% if collection.count > 1 %>
  <div>
    <dt><%= f.label :language_id %></dt>
    <dd>
      <ul>
        <li>
          <label>
            <%=
              radio_button_tag(
                  "#{model_name}[language_id]",
                  '',
                  entity.language.nil?,
              )
            %>
            <span><%= t(:not_set) %></span>
          </label>
        </li>
        <% collection.each do |language| %>
          <li>
            <label>
              <%=
                radio_button_tag(
                    "#{model_name}[language_id]",
                    language.id,
                    entity.language == language,
                )
              %>
              <span><%= language.name %></span>
            </label>
          </li>
        <% end %>
      </ul>
    </dd>
  </div>
<% end %>
