<% content_for :meta_title, t('.title', slug: @entity.slug) %>
<% content_for :breadcrumbs do %>
  <%= admin_biovision_component_link(component_handler.component) %>
  <%= link_to(t('admin.dynamic_blocks.nav_item.text'), admin_dynamic_blocks_path) %>
  <span><%= @entity.slug %></span>
<% end %>

<article>
  <h1><%= @entity.class.model_name.human %> <q><%= @entity.slug %></q></h1>

  <% if component_handler.permit?('edit', @entity) %>
    <nav class="entity-actions">
      <%= edit_icon(@entity) %>
      <%= destroy_icon(@entity) %>
    </nav>
  <% end %>

  <dl class="fields">
    <%= entity_partial_block(@entity, :slug) %>
    <%= render partial: 'shared/entity/text_field', locals: { entity: @entity, field: :body } %>
    <%= entity_partial_block(@entity, :timestamps) %>
  </dl>

  <%= entity_toggle(@entity) %>
</article>
