<figure class="image"><%= simple_image_preview(entity) %></figure>
<div class="data">
  <div><%= admin_entity_link(entity) %></div>
  <% unless entity.notice.blank? %>
    <div><%= entity.notice %></div>
  <% end %>
  <div class="info"><%= entity.slug %></div>
  <% unless entity.email.blank? %>
    <div class="info"><%= entity.email %></div>
  <% end %>
  <div class="secondary info">UUID: <%= entity.uuid %></div>
  <div class="secondary info">
    <div>
      <%= entity.class.human_attribute_name(:created_at) %>:
      <%= time_tag entity.created_at %>
    </div>
    <% unless entity.last_seen.nil? %>
      <div>
        <%= entity.class.human_attribute_name(:last_seen) %>:
        <%= time_tag entity.last_seen %>
      </div>
    <% end %>
  </div>

  <%=
    render(
      partial: 'admin/users/entity/in_list/additional_data',
      locals: { entity: entity }
    )
  %>

  <%= render(partial: 'shared/admin/toggle', locals: { entity: entity }) %>

  <div class="entity-actions">
    <% if local_assigns[:handler] %>
      <%= edit_icon(entity) if handler.permit?('edit', entity) %>
    <% end %>
    <%= world_icon(entity) %>
  </div>
</div>
