<div>
  <dt><%= t('activerecord.attributes.user_profile.name') %></dt>
  <dd><%= user.full_name %></dd>
</div>

<% unless data['about'].blank? %>
  <div>
    <dt><%= t('activerecord.attributes.user_profile.about') %></dt>
    <dd><%= simple_format(data['about']) %></dd>
  </div>
<% end %>

<% unless data['gender'].blank? %>
  <div>
    <dt><%= t('activerecord.attributes.user_profile.gender') %></dt>
    <dd>
      <%= Biovision::Components::Users::ProfileHandler.gender(data['gender']) %>
    </dd>
  </div>
<% end %>
