<% content_for :meta_title, t('.title') %>
<% content_for :breadcrumbs do %>
  <%= admin_biovision_component_link(component_handler.component) %>
  <%= link_to(t('admin.navigation_groups.nav_item.text'), admin_navigation_groups_path) %>
  <span><%= t('.nav_text') %></span>
<% end %>

<article>
  <h1><%= t('.heading') %></h1>

  <%= render partial: 'form', locals: { entity: @entity } %>
</article>
