<% content_for :meta_title, t('.title') %>
<% content_for :breadcrumbs do %>
  <span><%= t('.nav_text') %></span>
<% end %>

<article class="content-wrapper">
  <h1><%= t('.heading') %></h1>

  <% if component_handler.needs_email_confirmation? %>
    <div class="message-box warning">
      <p><%= t('.email_is_not_confirmed') %></p>
      <p>
        <%=
          link_to(
            t('my.confirmations.show.nav_text'),
            my_confirmation_path,
            class: 'button button-secondary'
          )
        %>
      </p>
    </div>
  <% end %>

  <nav>
    <%=
      link_to(
        t('my.profiles.show.nav_text'),
        my_profile_path,
        class: 'button button-ghost'
      )
    %>
  </nav>
</article>
