<%= form_with(**Biovision::Components::BaseComponent.form_options(entity)) do |f| %>
  <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

  <dl class="fields">
    <%= render partial: 'components/users/form/image', locals: { f: f, entity: entity } %>

    <% unless entity.id.nil? %>
      <%= render partial: 'shared/forms/field', locals: { f: f, field: :slug } %>
    <% end %>

    <%= render partial: 'shared/forms/field', locals: { f: f, field: :screen_name } %>

    <% if entity.id.blank? || !entity.super_user? %>
      <div>
        <dt><%= f.label :password %></dt>
        <dd>
          <%=
            f.text_field(
              :password,
              class: 'input-text',
              data: { check: :password },
              maxlength: 70,
              required: entity.id.nil?,
              size: nil
            )
          %>
          <div class="check-result-error" data-field="password"></div>
        </dd>
      </div>

      <div>
        <dt><%= f.label :password_confirmation %></dt>
        <dd>
          <%=
            f.text_field(
              :password_confirmation,
              class: 'input-text',
              data: { check: :password_confirmation },
              maxlength: 70,
              required: entity.id.nil?,
              size: nil
            )
          %>
          <div class="check-result-error" data-field="password_confirmation"></div>
        </dd>
      </div>
    <% end %>

    <div>
      <dt><%= f.label :email %></dt>
      <dd>
        <%=
          f.email_field(
            :email,
            class: 'input-text',
            data: { check: :email },
            maxlength: User::EMAIL_LIMIT,
            readonly: entity.super_user?,
            required: entity.email_as_login? || component_handler.require_email?,
            size: nil
          )
        %>
      </dd>
    </div>

    <%= render partial: 'shared/forms/field', locals: { f: f, field: :phone, type: :phone } %>
    <%= render partial: 'shared/forms/field', locals: { f: f, field: :birthday } %>

    <%= render partial: 'components/users/form/profile_data', locals: { data: entity.profile.to_h } %>

    <%= render partial: 'shared/forms/field', locals: { f: f, field: :notice } %>
    <%= render partial: 'shared/forms/entity_flags', locals: { f: f } %>
  </dl>

  <%= render 'shared/forms/state_container' %>

  <div class="buttons">
    <%= hidden_field_tag :entity_id, entity.id %>
    <%= f.button t(:save), class: 'button button-save' %>
  </div>
<% end %>
