<% content_for :meta_title, t('.title', page: current_page) %>
<% content_for :breadcrumbs do %>
  <%= admin_biovision_component_link(component_handler.component) %>
  <span><%= t('admin.users.nav_item.text') %></span>
<% end %>

<article>
  <h1><%= t('.heading') %></h1>

  <% if component_handler.permit?('users.edit') %>
    <nav class="entity-actions">
      <%= create_icon(new_admin_user_path) %>
    </nav>
  <% end %>

  <%=
    render(
      partial: 'admin/widgets/quick_search',
      locals: { endpoint: search_admin_users_url }
    )
  %>

  <%= render partial: 'shared/admin/list', locals: { collection: @collection, handler: component_handler } %>
</article>
