<figure class="image"><%= simple_image_preview(entity) %></figure>
<div class="data">
  <div><%= admin_dynamic_page_link(entity) %></div>
  <% unless entity.name.blank? %>
    <div class="info"><%= entity.name %></div>
  <% end %>

  <%=
    render(
        partial: 'shared/admin/toggleable',
        locals: {
            entity: entity,
            url: toggle_admin_dynamic_page_path(id: entity.id)
        }
    )
  %>

  <ul class="actions">
    <li><%= edit_icon(edit_dynamic_page_path(id: entity.id)) %></li>
    <li class="danger"><%= destroy_icon(@entity) %></li>
  </ul>
</div>
