<figure class="image"><%= simple_image_preview(entity) %></figure>
<div class="data">
  <div><%= admin_entity_link(entity, handler: local_assigns[:handler]) %></div>
  <% unless entity.name.blank? %>
    <div class="info"><%= entity.name %></div>
  <% end %>

  <%= render(partial: 'shared/admin/toggle', locals: { entity: entity }) %>

  <div class="entity-actions">
    <%= world_icon(entity) unless entity.url.blank? %>
    <% if local_assigns[:handler]&.permit?('edit', entity) %>
      <%= edit_icon(entity) %>
      <%= destroy_icon(entity) %>
    <% end %>
  </div>
</div>
